.no-page-title .entry-content {
	margin-top: 0;
}

.single-post {
	main {
		max-width: $max-width__medium;
		margin: auto;
	}
}


.blog {
	main {
		max-width: $max-width__medium;
		margin: auto;
	}
	article {
		margin-bottom: 10rem;
	}
}