$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #ffd100;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #000;
$color__text-input: #000;
$color__text-input-focus: #111;
$color__link: #ffd100; //yellow
$color__link-visited: #ffd100; //yellow
$color__link-hover: #ffd100; //midnightblue
$color__text-main: #000;

$color__border-button: #ffd100 #ffd100 #ffd100;
$color__border-button-hover: #ffd100 #ffd100 #ffd100;
$color__border-button-focus: #ffd100 #ffd100 #ffd100;
$color__border-input: #ccc;
$color__border-abbr: #000;

$color__primary: #ffd100; //yellow
$color__black: #000;